.projects-section {
  padding: 40px;
  text-align: center;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 18px 4px black;
}

.project-card-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.project-card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card-content h3 {
  margin: 0;
}

.project-card-links a {
  display: inline-block;
  text-decoration: none;
  color: #007bff;
}

.project-card-links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .project-card {
    display: flex;
    flex-direction: column;
  }

  .project-card-content {
    padding: 10px;
  }
}