@keyframes slideAnim {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.looper {
  width: 100%;
  overflow: hidden;
  margin-top: 4em;
  direction: ltr;
}

.looper__innerList {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.looper__innerList[data-animate="true"] .looper__listInstance {
  animation: slideAnim linear infinite;   
}

.looper__listInstance {
  display: flex;
  width: max-content;

  animation: none;
}

.contentBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 16px; 
  border-radius: 16px;
}

.contentBlock--one {  
  width: 140px;
  background: rgba(255, 255, 255, 0.05);    
  font-weight: 600;
  font-size: 60px; 
}