.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 5em; 
}

.hero-text {
  max-width: 700px;
  text-align: center;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

.hero-text p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.hero-image {
  max-width: 400px;
  transition: transform 0.5s;
}

.hero-image:hover {
  transform: scale(1.05);
}

.hero-image img {
  width: 100%;
  border-radius: 30%; 
}

@media (max-width: 768px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
  }

  .hero-text {
    max-width: 90%;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    white-space: unset;
  }

  .hero-text p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .hero-image {
    max-width: 400px;
  }

  .hero-image img {
    width: 70%;
    border-radius: 30%; 
  }
}