.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header__nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header__nav-list {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 0;
  margin: 0;
}

.header__nav-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  display: inline-block;
  cursor: pointer;
  border: 1px solid white;
  padding: 20px 40px;
  border-radius: 50px;
}

.header__nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white; 
  border-color: rgba(255, 255, 255, 0.3);
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}

.header__nav-item a:hover {
  animation: shake 0.5s;
}

.header__language {
  display: flex;
}

.header__language-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.header__language-btn:hover {
  transform: scale(1.5);
}

@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: unset;
    align-items: center;
    height: 20px;
    gap: 10px;

    position: sticky; /* Makes the header sticky */
    top: 0; /* Sticks the header to the top of the viewport */
    z-index: 1000; /* Ensures the header is above other content */
    background-color: #07051E;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .header__nav-list {
    align-items: center;
    gap: 10px;
  }

  .header__nav-item a {
    font-weight: lighter;
    font-size: 12px;
    padding: 5px 5px;
    border-radius: 10px;
    white-space: nowrap;
  }

  .header__language-btn {
    font-size: 12px;
    color: white;
    margin-left: 12px;
  }
}