html, body, .app {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(-45deg, #ffffff, #ebebf9, #d6d6f5); 
}

.dark-mode {
  background: linear-gradient(-45deg, #1a1a1a, #333333, #4d4d4d);
  color: rgb(221, 212, 212);
}

[dir="rtl"] body {
  text-align: right;
}

#root {
  flex: 1;
  font-family: sans-serif;
}

.main-content {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
