html, body, .App {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(-45deg, #ffffff, #d0d0f7, #8c8cf7); 
}

[dir="rtl"] body {
  text-align: right;
}

:root {  
  --offblack: #120101;
}

#root {
  flex: 1;
  font-family: sans-serif;
  color: var(--offblack);  
}

.main-content {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
