html, body, .App {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(-45deg, #4c468b, #05031a); 
}

:root {  
  --offwhite: #EBEBEB;
}

#root {
  flex: 1;
  font-family: sans-serif;
  color: var(--offwhite);  
  background: linear-gradient(-45deg, #4c468b, #05031a);  
}

.main-content {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
